#root {
    display: flex;
}

/* Header */
header {
    width: 100%;
    position: relative;

    & .header__container {
        display: flex;
        gap: 10px;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    
        & .icons__container {
            display: flex;
            gap: 20px;
        
            & .icon {
                opacity: .75;
                max-width: 40px;
                cursor: pointer;
                transition: all .3s ease-in-out;
            
                & img {
                    filter: grayscale(1);
                }
            
                &:hover img{
                    filter: unset;
                    transition: all .3s ease-in-out;
                } 
               
            }
        }
    
        & .arrow {
            width: 100%;
            max-width: 200px;
        }
    
    }
}


/* Sidebar */

aside {
    position: fixed;
    flex-basis: 250px;
    width: 250px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: -7px 0 15px 0px #000;

    .menu {  
        filter: grayscale(1);
        width: 40px;
        object-fit: contain;
        object-position: center;
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:hover{
            filter: unset;
            transition: all ease-in-out;

        }
    }
}


/* Content */

.content {
    flex-basis: 100%;
    margin-left: 250px;
    height: 150vh;
}